<aside id="sideBar" class="main-sidebar sidebar-light-primary">
    <a href="/" class="brand-link">
        <img src="~/images/logo.png" id="brand-logo" alt="logo" class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light" style="font-size:0.8em!important">  Weather Wizard</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-globe-americas"></i>
                        <p>Map</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-map-marked-alt"></i>
                        <p>Saved Location</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>