<div class="row mx-5">
    <div class="card col-12">
        <p>TEST</p>
    </div>
</div>

<div class="row mx-5">
    <div class="col-4 p-0">
        <div class="card">
            <p>TEST1</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <p>TEST2</p>
        </div>
    </div>
    <div class="col-4 p-0">
        <div class="card">
            <p>TEST3</p>
        </div>
    </div>
</div>
